body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #4a4a4a;
    color: #333;
}

header {
    background-color: #7b1f1f;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0 20px;
}

nav ul li {
    color: white;
    font-size: 18px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #f0a500;
}

.logo {
    height: 50px;
}

.container {
    background-color: #ffffff;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 800px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header .left, .header .right {
    text-align: left;
}

.header .center {
    text-align: center;
}

.header .count {
    font-size: 24px;
    font-weight: bold;
    color: #7b1f1f;
}

.header .right p {
    margin: 5px 0;
    color: #7b1f1f;
    cursor: pointer;
    transition: color 0.3s;
}

.header .right p:hover {
    color: #f0a500;
}

#members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.member {
    background-color: #ffffff;
    border-radius: 10px;
    width: 30%;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.member:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.photo {
    padding: 20px;
}

.photo img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: opacity 0.3s;
}

.photo img:hover {
    opacity: 0.9;
}

.description {
    padding: 20px;
    border-top: 1px solid #ddd;
}

.description p {
    margin: 10px 0;
    font-size: 16px;
    color: #333;
}

.member.empty {
    background-color: #f0f0f0;
    border: 2px dashed #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999;
    flex-direction: column;
}

.member.empty:hover {
    border-color: #7b1f1f;
    color: #7b1f1f;
}

/* Estilo para o pop-up */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    z-index: 1000;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.popup.active {
    display: block;
}

.popup h2 {
    margin-top: 0;
    color: #7b1f1f;
}

.popup .close {
    cursor: pointer;
    color: red;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
}

.popup .form-group {
    margin-bottom: 15px;
}

.popup .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.popup .form-group input {
    width: calc(100% - 20px);
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.popup button {
    background-color: #7b1f1f;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.popup button:hover {
    background-color: #f0a500;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.overlay.active {
    display: block;
}

.buttons {
    background-color: #7b1f1f;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.show-password-container {
    /* display: flex;
    align-items: center;
    margin-top: 10px;
    align-self: flex-start; */
    display: flex;
    margin-top: 10px;
}

.show-password-checkbox {
    margin-right: 10px;
    width: 18px; /* Ajuste do tamanho */
    height: 18px; /* Ajuste do tamanho */
    cursor: pointer;
}

.show-password-label {
    font-size: 12px;
    color: #000000;
    cursor: pointer;
}
